h1.svelte-16sgywl{font-size:2.25rem;line-height:2.5rem
}@media(min-width: 640px){h1.svelte-16sgywl{font-size:3.75rem;line-height:1
    }}@media(min-width: 768px){h1.svelte-16sgywl{font-size:6rem;line-height:1
    }}@media(min-width: 1024px){h1.svelte-16sgywl{font-size:8rem;line-height:1
    }}h1.svelte-16sgywl{margin-top:-2.25rem
}@media(min-width: 640px){h1.svelte-16sgywl{margin-top:-3rem
    }}@media(min-width: 768px){h1.svelte-16sgywl{margin-top:-6rem
    }}@media(min-width: 1024px){h1.svelte-16sgywl{margin-top:-8rem
    }}h2.svelte-16sgywl{margin-top:1rem;margin-bottom:1rem;font-weight:700;font-size:1.875rem;line-height:2.25rem
}@media(min-width: 640px){h2.svelte-16sgywl{font-size:3rem;line-height:1
    }}@media(min-width: 768px){h2.svelte-16sgywl{font-size:4.5rem;line-height:1
    }}@media(min-width: 1024px){h2.svelte-16sgywl{font-size:6rem;line-height:1
    }}a.svelte-16sgywl{padding-left:1rem;padding-right:1rem;padding-top:0.5rem;padding-bottom:0.5rem;--tw-text-opacity:1;color:rgb(251 191 36 / var(--tw-text-opacity));text-decoration-line:none;font-size:1.5rem;line-height:2rem
}@media(min-width: 640px){a.svelte-16sgywl{font-size:2.25rem;line-height:2.5rem
    }}@media(min-width: 768px){a.svelte-16sgywl{font-size:3.75rem;line-height:1
    }}@media(min-width: 1024px){a.svelte-16sgywl{font-size:4.5rem;line-height:1
    }}a.svelte-16sgywl:hover{--tw-bg-opacity:1;background-color:rgb(251 191 36 / var(--tw-bg-opacity));--tw-text-opacity:1;color:rgb(28 25 23 / var(--tw-text-opacity))
}