@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply subpixel-antialiased;
    @apply bg-stone-100 text-stone-800;
    @apply dark:bg-stone-800 dark:text-stone-100;
  }

  body::-webkit-scrollbar {
    @apply w-2;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-amber-500;
    @apply dark:bg-amber-400;
  }

  *::selection {
    @apply bg-amber-500 text-stone-800;
    @apply dark:bg-amber-400;
  }

  a {
    @apply text-amber-500 hover:bg-amber-500 hover:text-stone-800;
    @apply dark:text-amber-400 dark:hover:bg-amber-400 dark:hover:text-stone-800;
  }

  a:has(> img, > svg) {
    @apply hover:bg-transparent;
  }

  h1,
  h1 span {
    @apply font-black;
    @apply text-5xl md:text-7xl xl:text-8xl;
  }

  h2,
  h2 span {
    @apply font-extrabold;
    @apply text-4xl md:text-6xl xl:text-7xl;
  }

  h3,
  h3 span {
    @apply font-bold;
    @apply text-3xl md:text-5xl xl:text-6xl;
  }

  h4,
  h4 span {
    @apply font-semibold;
    @apply text-2xl md:text-4xl xl:text-5xl;
  }

  h5,
  h5 span {
    @apply font-medium;
    @apply text-xl md:text-3xl xl:text-4xl;
  }

  h6,
  h6 span {
    @apply font-medium;
    @apply text-lg md:text-2xl xl:text-3xl;
  }

  a,
  p,
  span {
    @apply text-lg md:text-xl xl:text-2xl;
  }

  code {
    @apply font-mono;
  }

  hr {
    @apply my-16 w-full border-2 border-stone-200;
    @apply dark:border-stone-700;
  }
}
